     /* container-block section */
     
     .container-block {
         padding-top: 94px;
         padding-bottom: 94px;
         display: none;
         z-index: 2;
         @media screen and (min-width: 1200px) {
             display: block;
         }
         
&__title {
             font-weight: 700;
             font-size: 36px;
             line-height: 1.17;
             text-align: center;
             margin-bottom: 50px;
             margin-top: 0;
         }
         
&__list {
             margin-top: 0;
             margin-bottom: 0;
             padding-left: 0;
             display: flex;
             justify-content: space-between;
             list-style: none;
         }
         
&__list-item {
             width: calc((100% - 60px) / 3);
             position: relative;
         }
         
&__img {
             display: block;
         }
         
&__descr {
             position: absolute;
             bottom: 0;
             left: 0;
             right: 0;
             color: #ffffff;
             font-weight: 700;
             font-size: 14px;
             line-height: 1.14;
             text-align: center;
             text-transform: uppercase;
             background-color: rgba(47, 48, 58, 0.8);
             margin-top: 0;
             margin-bottom: 0;
             padding-top: 27px;
             padding-bottom: 27px;
             text-align: center;
         }
         

     }