        .backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            overflow: hidden;
            transition: opacity $transition;
            overflow-y: scroll;
            z-index: 10;
            &__hidden {
                opacity: 0;
                pointer-events: none;
            }
            

        }
        

        .form {
            transition: transform $transition;
            background-color: $main-background-color;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            position: absolute;
            display: flex;
            flex-direction: column;
            padding: 15px;
            @media screen and (max-width: 479px) {
                min-width: 95%;
            }
            
min-width: 450px;
            @media screen and (min-width: 480px) {
                max-width: 450px;
            }
            
&__title {
                font-weight: 700;
                font-size: 20px;
                line-height: 1.15;
                text-align: center;
                letter-spacing: 0.03em;
                margin-bottom: 30px;
            }
            
&__term {
                display: flex;
                align-items: center;
                font-size: 12px;
                line-height: 1.14;
                letter-spacing: 0.01em;
                color: $secondary-color;
                margin-bottom: 30px;
                justify-content: center;
                max-width: 370px;
                &--link {
                    display: inline-block;
                    color: $accent-primary-color;
                }
                

            }
            
&__agreements {
                padding-left: 8px;
            }
            
&__label {
                position: absolute;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.01em;
                color: $secondary-color;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                transition: transform $transition;
                .form__textarea:focus-within+&,
                .form__textarea:not(:placeholder-shown)+& {
                    color: $accent-primary-color;
                    transform: translateY( -30px);
                }
                

            }
            
&__icon {
                position: absolute;
                top: 0;
                left: 0;
                margin-right: 8px;
                transform: translate(16px, 11px);
                transition: fill $transition;
                .form__input:not(:placeholder-shown)+.form__label>&,
                .form__wraper:focus-within & {
                    fill: $accent-primary-color;
                }
                

            }
            
&__descr {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(42px, 14px);
                transition: transform $transition;
                .form__input:focus-within+.form__label>&,
                .form__input:not(:placeholder-shown)+.form__label>& {
                    color: $accent-primary-color;
                    transform: translate( 18px, -20px);
                }
                

            }
            
&__comment {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(16px, 11px);
            }
            
&__input {
                width: 100%;
                border: 1px solid rgba(33, 33, 33, 0.2);
                border-radius: 4px;
                padding: 12px 16px 12px 42px;
                .form__wraper:focus-within & {
                    outline: none;
                    border: 1px solid $accent-primary-color;
                }
                

            }
            
&__wraper {
                position: relative;
                margin-bottom: 28px;
                &:nth-child(n+6) {
                    margin-bottom: 20px;
                }
                

            }
            
&__textarea {
                display: block;
                position: relative;
                resize: none;
                width: 100%;
                border: 1px solid rgba(33, 33, 33, 0.2);
                border-radius: 4px;
                padding: 12px 16px 12px 16px;
                outline: none;
                height: 146px;
                .form__wraper:focus-within & {
                    outline: none;
                    border: 1px solid $accent-primary-color;
                }
                

            }
            
&__close {
                display: flex;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(-8px, 8px);
                width: 30px;
                height: 30px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                background-color: $main-background-color;
                transition: fill $transition;
                cursor: pointer;
                &:hover {
                    fill: $accent-primary-color;
                }
                

            }
            

        }
        

        .checkbox {
            margin-right: 9px;
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
            &__icon {
                display: block;
                width: 15px;
                height: 15px;
                border: 1px solid #000000;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 2px;
                margin: 8px;
                transition: border-color $transition;
            }
            
&:checked+&__icon {
                background-color: $accent-primary-color;
                background-image: url(../images/icon-check.svg);
                background-size: contain;
                background-origin: border-box;
                border-color: $accent-primary-color;
            }
            

        }