.form-tittle{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: #212121;
}
.form-container{
  padding: 40px;
}
.form-items{
  display: block;
  position: relative;
  margin-bottom: 28px;  
}

.form-items__input {
  width: 100%;   
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
  padding: 12px 42px;
  background-color: #fff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: 0;
}
.form-items__input:focus + .form-items__label,
.form-items__input:not(:placeholder-shown) + .form-items__label{
  color: $accent-color;
  transform: translate(-30px, -40px);
}
.form-items:focus-within > .btn-icon{
  fill:#2196F3;
}
.form-items__label{
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  font-style: normal;
  color: #757575;
}

.form-items.area{  
  margin: 0px;
  margin-bottom: 20px;
  height: 120px;
  width: 100%;  
  color: #757575;
}

.form-items__label.area{
  
  top: 12px;
  left: 12px;
  position: absolute;  
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  font-style: normal;
  color: #757575;
}

.form-items__input:focus + .form-items__label.area,
.form-items__input:not(:placeholder-shown) + .form-items__label.area {
  transform: translateY(-35px);
}

.form-items__input.area{
  padding-left: 10px;
  resize: none;
}

.form-policy{
  display: inline-block;
  margin-bottom: 20px;
  
}
.form-policy__label {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #757575;
}
.form-policy__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-policy__checkbox:checked + .btn-icon__checkbox {
  background-color: $accent-color;
  border: 2px solid $accent-color;
}
.form-policy__link {
  padding-left: 5px;
  color:#2196F3;
}