
.navigation__link.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: $accent-color;
}
.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  padding: 0;
  align-items: center;
  margin-right: 85px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__logo:hover,
.navigation__logo:focus {
  color: $accent-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.navigation__icon{
  width: 153px;
  height: 31px;
}
.contacts-nav__image {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.navigation__list {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $tittle-text-color;
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $tittle-text-color;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link.current {
  color: $accent-color;
  position: relative;
}
.navigation__link:hover,
.navigation__link:focus {
  color: $accent-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.container.nav{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  height: 400px;
}