html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background: $color1;
  color: $primary-text-color;
  margin: 0;
  overflow: hidden auto;
  
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin-top: 0;
}