.layout-section {
  text-align: center;
  padding-bottom: 95px;
  max-width: 1920px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}
.layout-section__tittle {
  /* background-color: teal; */
  color: $color1;
  width: 700px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-part {
  padding-bottom: 94px;
  // background: #f5f4fa;
}