.socials {
  text-decoration: none;
  display: flex; 
  margin-top: 20px;
  justify-content: center;    
}

.socials__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.socials__icon {
  fill:$color5;
}

.socials__item{
  padding: 0 5px;
  padding-bottom: 25px;
}

.socials__link:hover, 
.socials__link:focus {
  border-radius: 30px;
  background-color: $color3;
  --color5: $color1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link.footer {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link.footer:hover, 
.socials__link.footer:focus {
  background-color: #2196F3; 
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}